
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
    
        <div class="w3-display-bottomleft w3-padding-large w3-opacity">
            <h1 class="w3-xxlarge">Grab N Go</h1>
        </div>
    </header>
    
    

    <header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
    
            <div class="w3-display-bottomleft w3-padding-large w3-opacity">
                <h1 class="w3-xxlarge">Grab N Go</h1>
            </div>
        </header>
        
        

        <header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
    
                <div class="w3-display-bottomleft w3-padding-large w3-opacity">
                    <h1 class="w3-xxlarge">Grab N Go</h1>
                </div>
            </header>
            
            

            <header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
    
                    <div class="w3-display-bottomleft w3-padding-large w3-opacity">
                        <h1 class="w3-xxlarge">Grab N Go</h1>
                    </div>
                </header>
                
                
              <button>SAI </button>                           